---
const name = 'John';
console.log(name);

const users = [
	{ name: 'Jone', age: 30 },
	{ name: 'Mike', age: 20 },
	{ name: 'Kim', age: 10 },
	{ name: 'Dug', age: 40 },
];
---

<h1>test {name}</h1>

<ul>
	{users.map((user) => <li>{user.name}</li>)}
</ul>

<script>
	console.log(123);
</script>
